@charset "UTF-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li,
form, aside, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul, nav {
  list-style: none;
}

button {
  font-family: inherit;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Google Sans";
  src: url("../../assets/fonts/GoogleSans-Medium.woff") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Google Sans";
  src: url("../../assets/fonts/GoogleSans-MediumItalic.woff") format("truetype");
  font-weight: 500;
  font-style: italic;
}
.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  font-style: normal;
  color: #5E6282;
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-family: "Volkhov", sans-serif;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1.3;
  font-style: normal;
  color: #181E4B;
  text-transform: capitalize;
  text-align: center;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

select option {
  background-color: transparent;
  color: black;
  border: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  font-family: "Google Sans", sans-serif;
  font-size: 1.06rem;
  font-weight: 400;
  line-height: 21px;
  font-style: normal;
  width: 100%;
  max-width: 1400px;
}
.header:has(.burger-menu__wrapper:checked) .burger-menu__list {
  top: 60px;
  z-index: 3;
  width: 100%;
}
.header:has(.burger-menu__wrapper:checked) .header__menu {
  width: 100%;
  margin-left: -10px;
  position: relative;
  padding: 0 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #FFF1DA;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  text-align: center;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .header__menu {
    height: 60px;
  }
}
.header__logo {
  width: 115px;
  height: 34px;
}
.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 65%;
          flex: 1 1 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header__nav-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__nav-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #DF6951;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__login-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 13%;
          flex: 0 1 13%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .header__login-link {
    display: none;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
}
.header__login-link--bordered {
  width: 100px;
  height: 40px;
  background-color: transparent;
  color: inherit;
  border-radius: 5px;
  font-size: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 8%;
          flex: 0 1 8%;
  text-align: center;
  line-height: 2.5;
  border: 1px solid #212832;
}
.header__login-link--bordered:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 0px 10px 5px rgba(223, 105, 81, 0.3);
}
.header__login-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #DF6951;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.header__lang-select {
  font-family: "Google Sans", sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.125;
  font-style: normal;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 6%;
          flex: 0 1 6%;
  text-align: center;
  border: none;
  color: #212832;
  background-color: transparent;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.header__lang-select:focus {
  outline: none;
}
@media screen and (max-width: 1200px) {
  .header__lang-select {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10%;
            flex: 0 1 10%;
  }
}
@media screen and (max-width: 767px) {
  .header__lang-select {
    text-align: right;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    font-size: 1.3625rem;
  }
}
.header__lang-select:hover .header__lang-select-label::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header__lang-select:hover .header__lang-select-list {
  display: block;
}
@media screen and (max-width: 767px) {
  .header__lang-select-label {
    margin-right: 20px;
  }
}
.header__lang-select-label::after {
  position: absolute;
  content: "˅";
  display: inline-block;
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
  right: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1200px) {
  .header__lang-select-label::after {
    left: 50px;
  }
}
@media screen and (max-width: 767px) {
  .header__lang-select-label::after {
    left: inherit;
  }
}
.header__lang-select-list {
  display: none;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #df6951;
  overflow: hidden;
  left: 25px;
  z-index: 4;
}
@media screen and (max-width: 767px) {
  .header__lang-select-list {
    left: inherit;
    width: 50px;
    right: 0;
  }
}
.header__lang-select-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 25px;
  border-bottom: 1px dotted #df6951;
  background-color: rgba(226, 186, 178, 0.2588235294);
}
.header__lang-select-list-item:last-of-type {
  border-bottom: none;
}
.header__lang-select-list-item:hover {
  background-color: rgba(253, 171, 155, 0.6901960784);
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  display: none;
}
@media screen and (max-width: 767px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.burger-menu__linebar {
  display: block;
  width: 22px;
  height: 3px;
  background-color: #737373;
  margin-bottom: 5px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  text-align: right;
}
.burger-menu__linebar:nth-of-type(2) {
  width: 17px;
}
.burger-menu__linebar:nth-of-type(3) {
  width: 10px;
}
.burger-menu__wrapper[type=checkbox]:checked ~ .burger-menu__linebar:nth-of-type(1) {
  -webkit-transform: rotate(45deg) translate(0%, 10px);
          transform: rotate(45deg) translate(0%, 10px);
}
.burger-menu__wrapper[type=checkbox]:checked ~ .burger-menu__linebar:nth-of-type(2) {
  opacity: 0;
}
.burger-menu__wrapper[type=checkbox]:checked ~ .burger-menu__linebar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translate(0%, -6px);
          transform: rotate(-45deg) translate(0%, -6px);
  width: 22px;
}
.burger-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  position: absolute;
  width: 100vw;
  margin-left: -10px;
  background-color: #FFF1DA;
  top: -200px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #737373;
}
.burger-menu__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
}
.burger-menu__list-link:active {
  background-color: #fcf7f0;
}

input[type=checkbox] {
  display: none;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100vh - 120px);
  margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .hero-block {
    height: calc(70vh - 120px);
  }
}
@media screen and (max-width: 425px) {
  .hero-block {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    background-image: url(../../assets/images/backgrounds/xmarks-background-todown.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}
.hero-block__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .hero-block__text-content {
    max-width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .hero-block__text-content {
    max-width: 180px;
  }
}
.hero-block__slogan {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6;
  font-style: normal;
  color: #DF6951;
  text-transform: uppercase;
}
@media screen and (max-width: 425px) {
  .hero-block__slogan {
    display: none;
  }
}
.hero-block__heading {
  font-family: "Volkhov", sans-serif;
  font-size: 5.25rem;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
  color: #181E4B;
}
@media screen and (max-width: 1200px) {
  .hero-block__heading {
    font-size: 4.25rem;
  }
}
@media screen and (max-width: 767px) {
  .hero-block__heading {
    font-size: 3.25rem;
  }
}
@media screen and (max-width: 425px) {
  .hero-block__heading {
    margin-top: 40px;
    text-align: center;
    width: 100%;
  }
}
.hero-block__subheading {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8;
  font-style: normal;
  color: #5E6282;
  width: 75%;
}
@media screen and (max-width: 767px) {
  .hero-block__subheading {
    display: none;
  }
}
.hero-block__btn {
  font-family: "Google Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  font-style: normal;
  width: 170px;
  height: 60px;
  background-color: #F1A501;
  color: #fff;
  border-radius: 10px;
  font-size: 1.12rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  min-width: 130px;
  min-height: 60px;
}
.hero-block__btn:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 0px 10px 5px rgba(223, 105, 81, 0.3);
}
.hero-block__btns-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 400px;
  gap: 40px;
}
@media screen and (max-width: 425px) {
  .hero-block__btns-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero-block__play-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.hero-block__play-btn {
  width: 52px;
  height: 52px;
  background-color: #DF6951;
  color: #fff;
  border-radius: 50%;
  font-size: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  min-width: 52px;
  min-height: 52px;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.hero-block__play-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 0px 10px 5px rgba(223, 105, 81, 0.3);
}
.hero-block__play-btn::before {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: calc(50% - 5px);
  left: calc(50% - 7px);
}
.hero-block__play-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 0px 10px 5px rgba(223, 105, 81, 0.3);
}
.hero-block__play-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.06rem;
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
  color: #686D77;
  width: 70%;
}
.hero-block__img {
  position: relative;
  z-index: 1;
  top: 20px;
}
@media screen and (max-width: 1200px) {
  .hero-block__img {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .hero-block__img {
    width: 50%;
    margin-left: 20px;
  }
}
@media screen and (max-width: 425px) {
  .hero-block__img {
    display: none;
  }
}

.services-section {
  margin-bottom: 150px;
  background-image: url(../../assets/images/backgrounds/xmarks-background-todown.png);
  background-repeat: no-repeat;
  background-position: 98% 0;
}
@media screen and (max-width: 425px) {
  .services-section {
    background-image: none;
  }
}
.services-section__title {
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  .services-section__title {
    margin-bottom: 30px;
  }
}
.services-section__show-more {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  font-style: normal;
  color: #737373;
  text-align: center;
  display: none;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .services-section__show-more {
    display: block;
  }
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 100%;
}
@media screen and (max-width: 1200px) {
  .services-list {
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .services-list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}
.services-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  max-width: 272px;
  min-height: 320px;
  position: relative;
  padding-bottom: 40px;
  gap: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1200px) {
  .services-list__item {
    width: 17%;
  }
}
@media screen and (max-width: 767px) {
  .services-list__item {
    width: 272px;
    gap: 15px;
    min-height: 300px;
    padding-bottom: 0;
  }
  .services-list__item:nth-child(n+3) {
    display: none;
  }
}
.services-list__item:nth-child(1) .services-list__item-icon-wrapper::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  right: 30px;
  bottom: 25px;
}
@media screen and (max-width: 767px) {
  .services-list__item:nth-child(1) .services-list__item-icon-wrapper::after {
    right: 80px;
  }
}
.services-list__item:nth-child(2) .services-list__item-icon-wrapper::after {
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  top: 35px;
  left: 50px;
}
@media screen and (max-width: 767px) {
  .services-list__item:nth-child(2) .services-list__item-icon-wrapper::after {
    left: 100px;
  }
}
.services-list__item:nth-child(3) .services-list__item-icon-wrapper::after {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  top: 35px;
  left: 80px;
}
.services-list__item:nth-child(4) .services-list__item-icon-wrapper::after {
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  bottom: 25px;
  left: 79px;
}
.services-list__item::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 37%;
  max-width: 100px;
  height: 41%;
  max-height: 100px;
  background-color: rgba(223, 105, 81, 0);
  border-radius: 30px 0px 10px;
  bottom: -13%;
  left: -13%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1200px) {
  .services-list__item::after {
    height: 21%;
  }
}
.services-list__item:hover {
  -webkit-box-shadow: -3px 32px 16px -34px rgba(105, 105, 105, 0.7);
          box-shadow: -3px 32px 16px -34px rgba(105, 105, 105, 0.7);
  cursor: pointer;
}
.services-list__item:hover::after {
  background-color: rgb(223, 105, 81);
}
.services-list__item-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 120px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .services-list__item-icon-wrapper {
    width: 100%;
  }
}
.services-list__item-icon-wrapper::after {
  content: "";
  width: 50px;
  height: 49px;
  background-color: #FFF1DA;
  border-radius: 18px 5px 10px;
  position: absolute;
  z-index: -1;
}
.services-list__item-title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.35;
  font-style: normal;
  color: #1E1D4C;
}
.services-list__item-description {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625;
  font-style: normal;
  color: #5E6282;
  width: 65%;
}

.sell-section {
  margin-bottom: 150px;
}
@media screen and (max-width: 767px) {
  .sell-section {
    background-image: url(../../assets/images/backgrounds/xmarks-background-toup.png);
    background-position: -15% top;
    background-repeat: no-repeat;
  }
}

.sell-section__sell-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  background-image: url(../../assets/images/backgrounds/sells-decore.png);
  background-repeat: no-repeat;
  width: 100%;
  background-position: 99% 80%;
}
@media screen and (max-width: 767px) {
  .sell-section__sell-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: none;
  }
}

.sell-list__item {
  width: 33%;
  max-width: 310px;
  max-height: 455px;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: -3px 32px 16px -34px rgba(105, 105, 105, 0.7);
          box-shadow: -3px 32px 16px -34px rgba(105, 105, 105, 0.7);
}
.sell-list__item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 5px 8px 3px #d4d4d4;
          box-shadow: 0 5px 8px 3px #d4d4d4;
}
.sell-list__item:hover .sell-list__item-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.sell-list__item:hover .sell-list__item-description {
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .sell-list__item {
    width: 100%;
  }
}
.sell-list__item-img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sell-list__item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 29%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  bottom: -29%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .sell-list__item-description {
    bottom: 0;
  }
}
.sell-list__item-title, .sell-list__item-price {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  font-style: normal;
  color: #5E6282;
}
.sell-list__item-title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-left: 20px;
}
.sell-list__item-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
}
.sell-list__item-duration {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  font-style: normal;
  color: #5E6282;
  margin-left: 55px;
}
.sell-list__item-duration::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: 25px;
  background-image: url(../../assets/images/arrow.png);
  background-repeat: no-repeat;
}

.steps-section {
  margin-bottom: 200px;
}
@media screen and (max-width: 767px) {
  .steps-section {
    background-image: url("../../assets/images/backgrounds/xmarks-background-toup.png");
    background-repeat: no-repeat;
    background-position: right 77%;
  }
}
.steps-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 100px;
}
@media screen and (max-width: 1200px) {
  .steps-section__container {
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .steps-section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
}
.steps-section__info-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 50%;
}
@media screen and (max-width: 1200px) {
  .steps-section__info-block {
    max-width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .steps-section__info-block {
    max-width: 80%;
  }
}
.steps-section__trip-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  height: 100%;
  max-width: 45%;
  position: relative;
  margin-right: 50px;
}
@media screen and (max-width: 1200px) {
  .steps-section__trip-block {
    max-width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .steps-section__trip-block {
    margin-right: 0;
    width: 280px;
  }
}
.steps-section__subtitle {
  text-align: left;
}
.steps-section__title {
  text-align: left;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .steps-section__title {
    font-size: 2rem;
    width: 100%;
  }
}
.steps-section__step {
  width: 60%;
  margin-bottom: 48px;
}
.steps-section__step:last-of-type {
  margin-bottom: 0;
}

.trip-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  height: 27%;
  position: absolute;
  bottom: 50px;
  right: -17%;
  z-index: 6;
  -webkit-box-shadow: -3px 32px 16px -34px rgba(105, 105, 105, 0.7);
          box-shadow: -3px 32px 16px -34px rgba(105, 105, 105, 0.7);
  border-radius: 18px;
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-left: 17px;
  gap: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.trip-card__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.trip-card__status {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  font-style: normal;
  color: #84829A;
  margin-bottom: 5px;
}
.trip-card__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  font-style: normal;
  color: #080809;
  margin-bottom: 15px;
}
.trip-card__progress {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  font-style: normal;
}
.trip-card__progress-percentage {
  color: #8A79DF;
}
.trip-card__progressbar {
  margin-top: 10px;
  width: 150%;
  height: 5px;
  background: #F5F5F5;
  border-radius: 30px;
  overflow: hidden;
}
.trip-card__progressbar-filled {
  background-color: #8A79DF;
  width: 40%;
  height: 100%;
  border-radius: 30px;
}

.trip-item {
  -webkit-box-shadow: -3px 32px 16px -34px rgba(105, 105, 105, 0.7);
          box-shadow: -3px 32px 16px -34px rgba(105, 105, 105, 0.7);
  max-width: 370px;
  max-height: 400px;
  position: relative;
  z-index: 6;
  border-radius: 26px;
  margin-top: 50px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 1200px) {
  .trip-item {
    max-width: 320px;
  }
}
.trip-item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 15px 30px 1px rgba(187, 212, 233, 0.5764705882);
          box-shadow: 0px 15px 30px 1px rgba(187, 212, 233, 0.5764705882);
}
.trip-item:hover .trip-item__card {
  opacity: 0;
}
.trip-item::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: #59B1E6;
  -webkit-filter: blur(75px);
          filter: blur(75px);
  z-index: 1;
  opacity: 0.8;
  top: 10%;
  left: 30%;
}
.trip-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
  position: relative;
  z-index: 5;
  padding: 0 25px;
  border-radius: 26px;
}
.trip-item__img-wrapper {
  border: 1px solid #000000;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 24px;
  overflow: hidden;
  width: 100%;
  max-height: 160px;
  margin: 20px auto 26px;
}
.trip-item__img {
  width: 100%;
  height: 100%;
}
.trip-item__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  font-style: normal;
  margin-bottom: 13px;
  color: #080809;
}
.trip-item__description {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  font-style: normal;
  color: #84829A;
  position: relative;
  margin-bottom: 20px;
}
.trip-item__date {
  margin-right: 10px;
}
.trip-item__date::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: #84829A;
  top: 2px;
}
.trip-item__details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  margin-bottom: 30px;
}
.trip-item__details-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #F5F5F5;
}
.trip-item__details-icon svg {
  width: 15px;
  height: 15px;
}
.trip-item__activity {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  font-style: normal;
  color: #84829A;
  margin-left: 30px;
  margin-bottom: 30px;
}
.trip-item__activity::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  left: -30px;
  background-image: url(../../assets/images/small-house.png);
}
@media screen and (max-width: 767px) {
  .trip-item__card {
    display: none;
  }
}
.trip-item__favor-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .step {
    width: 100%;
  }
}
.step:nth-of-type(1) .step__icon-wrapper {
  background-color: #F0BB1F;
}
.step:nth-of-type(1) .step__icon-wrapper svg {
  width: 22px;
  height: 22px;
}
.step:nth-of-type(2) .step__icon-wrapper {
  background-color: #F15A2B;
}
.step:nth-of-type(3) .step__icon-wrapper {
  background-color: #006380;
}
.step__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 13px;
}
.step__title {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
  font-style: normal;
  color: #5E6282;
  margin-bottom: 4px;
}
.step__description {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  font-style: normal;
  color: #5E6282;
}

.testimonial-section {
  margin-bottom: 170px;
}
.testimonial-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 767px) {
  .testimonial-section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.testimonial-section__text-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}
.testimonial-section__subtitle, .testimonial-section__title {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .testimonial-section__subtitle, .testimonial-section__title {
    text-align: center;
  }
}
.testimonial-section__title {
  width: 80%;
}
@media screen and (max-width: 767px) {
  .testimonial-section__title {
    width: 100%;
    margin-bottom: 70px;
  }
}
.testimonial-section__review-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.review-card {
  position: relative;
  max-width: 500px;
  background: #FFFFFF;
  -webkit-box-shadow: -3px 32px 16px -34px rgba(105, 105, 105, 0.7);
          box-shadow: -3px 32px 16px -34px rgba(105, 105, 105, 0.7);
  border-radius: 10px;
  padding-left: 34px;
}
.review-card__img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  position: absolute;
  top: -34px;
  left: -34px;
}
@media screen and (max-width: 767px) {
  .review-card__img {
    left: calc(50% - 34px);
    top: -50px;
  }
}
.review-card__comment {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  font-style: normal;
  color: #5E6282;
  width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
}
.review-card__author {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  font-style: normal;
  color: #5E6282;
  margin-bottom: 5px;
}
.review-card__author-location {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
  color: #5E6282;
  margin-bottom: 34px;
}

.clients-section {
  margin-bottom: 145px;
}
.clients-section__clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 7px;
}
@media screen and (max-width: 800px) {
  .clients-section__clients-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 500px) {
  .clients-section__clients-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.clients-section__subtitle {
  display: none;
}
@media screen and (max-width: 500px) {
  .clients-section__subtitle {
    display: block;
  }
}

.clients-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15%;
          flex: 0 1 15%;
  height: 86px;
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
@media screen and (max-width: 800px) {
  .clients-list__item {
    width: 240px;
    height: 80px;
  }
}
@media screen and (max-width: 500px) {
  .clients-list__item {
    width: 240px;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
  }
}
.clients-list__item:hover {
  -webkit-box-shadow: -3px 32px 16px -34px rgba(105, 105, 105, 0.7);
          box-shadow: -3px 32px 16px -34px rgba(105, 105, 105, 0.7);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.subscribe-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 170px;
  background-image: url("../../assets/images/backgrounds/xmarks-background-toup.png");
  background-repeat: no-repeat;
  background-position: right 77%;
  position: relative;
}
@media screen and (max-width: 425px) {
  .subscribe-section {
    background-image: none;
  }
}
.subscribe-section__subsribe-btn {
  width: 155px;
  height: 56px;
  background-color: inherit;
  color: #fff;
  border-radius: 10px;
  font-size: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Open Sans", sans-serif;
  font-size: 1.06rem;
  font-weight: 600;
  line-height: 1.35;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF946D), to(#FF7D68));
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  font-size: 17px;
  display: none;
}
.subscribe-section__subsribe-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 0px 10px 5px rgba(223, 105, 81, 0.3);
}
@media screen and (max-width: 425px) {
  .subscribe-section__subsribe-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  background-color: rgba(223, 215, 249, 0.2);
  border-radius: 129px 20px 20px 20px;
  max-height: 407px;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 425px) {
  .subscribe-form {
    display: none;
  }
}
.subscribe-form::before, .subscribe-form::after {
  content: "";
  position: absolute;
  opacity: 0.1;
  background-image: url("../../assets/images/backgrounds/circles-decor.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}
@media screen and (max-width: 920px) {
  .subscribe-form::before, .subscribe-form::after {
    content: none;
  }
}
.subscribe-form::before {
  width: 25%;
  height: 78%;
  left: 100px;
  bottom: 0;
  background-position: left bottom;
}
.subscribe-form::after {
  width: 20%;
  height: 58%;
  right: -45px;
  top: 40px;
  background-position: right top;
  -webkit-transform: rotate(267deg);
          transform: rotate(267deg);
}
.subscribe-form__title {
  font-family: "Poppins", sans-serif;
  font-size: 2.0625rem;
  font-weight: 600;
  line-height: 1.63;
  font-style: normal;
  width: 70%;
  margin-bottom: 75px;
  text-align: center;
  color: #5E6282;
}
.subscribe-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 68px;
  gap: 5px;
}
.subscribe-form__field {
  height: 100%;
  max-width: 420px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  border: none;
  padding-left: 25px;
  background: #FFFFFF;
  border-radius: 10px;
}
.subscribe-form__field:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px 0 rgba(223, 215, 249, 0.8);
          box-shadow: 0 0 10px 0 rgba(223, 215, 249, 0.8);
}
.subscribe-form__field::-webkit-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.21;
  font-style: normal;
}
.subscribe-form__field::-moz-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.21;
  font-style: normal;
}
.subscribe-form__field:-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.21;
  font-style: normal;
}
.subscribe-form__field::-ms-input-placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.21;
  font-style: normal;
}
.subscribe-form__field::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.21;
  font-style: normal;
}
.subscribe-form__submit-btn {
  width: 180px;
  height: 100%;
  background-color: inherit;
  color: #fff;
  border-radius: 10px;
  font-size: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Open Sans", sans-serif;
  font-size: 1.06rem;
  font-weight: 600;
  line-height: 1.35;
  font-style: normal;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF946D), to(#FF7D68));
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  max-width: 180px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}
.subscribe-form__submit-btn:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 0px 10px 5px rgba(223, 105, 81, 0.3);
}
.subscribe-form__send-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
}
.subscribe-form__send-icon-wrapper:before {
  content: "";
  background-color: red;
  width: 13px;
  height: 2px;
  position: absolute;
  background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  left: 23px;
  bottom: 31px;
  border-radius: 10px;
}
.subscribe-form__send-icon-wrapper--phone {
  width: 61px;
  height: 56px;
  top: inherit;
  bottom: 170px;
  margin-right: 25px;
  display: none;
}
@media screen and (max-width: 425px) {
  .subscribe-form__send-icon-wrapper--phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.subscribe-form__send-icon-wrapper--phone:before {
  left: 19px;
  bottom: 25px;
}
.subscribe-form__send-icon {
  width: 40px;
  height: 40px;
}

.footer {
  padding-bottom: 80px;
}
@media screen and (max-width: 425px) {
  .footer {
    background-color: #FFF1DA;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.footer__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 58px;
  margin-bottom: 90px;
}
@media screen and (max-width: 767px) {
  .footer__info-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (max-width: 425px) {
  .footer__info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 60px;
  }
}
.footer__details {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}
.footer__details-logo {
  font-family: "Poppins", sans-serif;
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 1.5;
  font-style: normal;
  color: #181E4B;
  margin-bottom: 20px;
}
.footer__details-desc {
  font-family: "Poppins", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.23;
  font-style: normal;
  color: #5E6282;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  gap: 10px;
  margin-top: 15px;
}
@media screen and (max-width: 425px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer__nav-block-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1.625;
  font-style: normal;
  color: #080809;
  margin-bottom: 34px;
}
@media screen and (max-width: 425px) {
  .footer__nav-block-title {
    margin-bottom: 14px;
  }
}
.footer__nav-block-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
}
.footer__nav-block-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  font-style: normal;
  color: #5E6282;
}
.footer__nav-block-link:hover {
  text-decoration: underline;
}
.footer__social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  margin-top: 25px;
}
@media screen and (max-width: 767px) {
  .footer__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}
.footer__social-network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  margin-bottom: 35px;
}
.footer__social-network-list-item-icon {
  width: 24px;
  height: 24px;
}
.footer__social-slogan {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
  font-style: normal;
  width: 60%;
  color: #5E6282;
  margin-bottom: 15px;
}
.footer__social-app-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  gap: 5px;
}
.footer__social-app {
  width: 107px;
  height: 35px;
}
.footer__rights {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.21;
  font-style: normal;
  color: #5E6282;
  text-align: center;
}

.unit-container {
  background-image: url(../../assets/images/backgrounds/hero-block-decore.png);
  background-repeat: no-repeat;
  background-position: right top;
}
@media screen and (max-width: 767px) {
  .unit-container {
    background-image: none;
  }
}
.unit-container__plane {
  position: absolute;
}
@media screen and (max-width: 767px) {
  .unit-container__plane {
    width: 100px;
    height: 100px;
  }
}
.unit-container__plane:nth-of-type(1) {
  position: absolute;
  top: 20%;
  left: 45%;
  z-index: 2;
}
@media screen and (max-width: 425px) {
  .unit-container__plane:nth-of-type(1) {
    left: 30px;
    top: 20px;
  }
}
.unit-container__plane:nth-of-type(1):hover {
  -webkit-animation: flyingOver 3s forwards;
          animation: flyingOver 3s forwards;
}
.unit-container__plane:nth-of-type(2) {
  position: absolute;
  top: 24%;
  right: 100px;
  z-index: 2;
}
.unit-container__plane:nth-of-type(2):hover {
  -webkit-animation: flyAway 3s forwards;
          animation: flyAway 3s forwards;
}
@media screen and (max-width: 767px) {
  .unit-container__plane:nth-of-type(2):hover {
    -webkit-animation: none;
            animation: none;
  }
}
@media screen and (max-width: 1200px) {
  .unit-container__plane:nth-of-type(2) {
    display: none;
  }
}

@-webkit-keyframes flyingOver {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  98% {
    -webkit-transform: translate(40vw, -350px) rotate(0deg);
            transform: translate(40vw, -350px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

@keyframes flyingOver {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  98% {
    -webkit-transform: translate(40vw, -350px) rotate(0deg);
            transform: translate(40vw, -350px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}
@-webkit-keyframes flyAway {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  98% {
    -webkit-transform: translate(15vw, 100px) rotate(25deg);
            transform: translate(15vw, 100px) rotate(25deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}
@keyframes flyAway {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  98% {
    -webkit-transform: translate(15vw, 100px) rotate(25deg);
            transform: translate(15vw, 100px) rotate(25deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}/*# sourceMappingURL=main.css.map */