@font-face {
    font-family: 'Google Sans';
    src: url('../../assets/fonts/GoogleSans-Medium.woff') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../../assets/fonts/GoogleSans-MediumItalic.woff') format('truetype');
  font-weight: 500;
  font-style: italic;
}