.header {
  
  @include font("Google Sans", 1.06rem, 400, 21px);
  width: 100%;
  max-width: 1400px;

  &:has(.burger-menu__wrapper:checked) .burger-menu__list {
    top: 60px;
    z-index: 3;
    width: 100%;
  }

  &:has(.burger-menu__wrapper:checked) &__menu{
    width: 100%;
    margin-left: -10px;
    position: relative;
    padding: 0 10px;
    box-sizing: content-box;
    background-color: #FFF1DA;
  }

  &__menu {

    @include flex(space-between, center);
    height: 120px;
    text-align: center;
    position: relative;
    transition: .3s;

    @media screen and (max-width: 767px) {
      height: 60px;
    }

  }

  &__logo {
    width: 115px;
    height: 34px;
  }

  &__nav {
    flex: 1 1 65%;
    @include flex(flex-end);
    &-item{
      flex: 0 1 20%;
      transition: .3s;
      &:hover {
        transform: scale(1.2);
        color: $hover-color;
      }
    }

    @media screen and (max-width: 767px) {
      display: none;
    }

  }

  &__login-link {

    flex: 0 1 13%;
    transition: .3s;

    @media screen and (max-width: 767px) {
      display: none;
      flex: 1 1 50%;
    }

    &--bordered {
      @include button(100px, 40px, transparent, inherit, 5px);
      flex: 0 1 8%;
      text-align: center;
      line-height: 2.5;
      border: 1px solid #212832;
    }

    &:hover {
      transform: scale(1.2);
      color: $hover-color;
      box-shadow: none;
    }

  }

  &__lang-select {

    @include font("Google Sans", 1.0625rem, 400, 1.125);
    flex: 0 1 6%;
    text-align: center;
    border: none;
    color: #212832;
    background-color: transparent;
    position: relative;
    transition: .3s;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    @media screen and (max-width: 1200px) {
      text-align: center;
      flex: 0 1 10%;
    }

    @media screen and (max-width: 767px) {
      text-align: right;
      flex: 1 1 50%;
      font-size: 1.3625rem;
    }

    &:hover {

      .header__lang-select-label::after {
        transform: rotate(180deg);
      }
  
      .header__lang-select-list {
        display: block;
      }
  
    }

  }

  &__lang-select-label {

    @media screen and (max-width: 767px) {
      margin-right: 20px;
    }

    &::after {
      position: absolute;
      content: "\02C5";
      display: inline-block;
      transform: scaleX(1.5);
      right: 5px;
      transition: .3s;

      @media screen and (max-width: 1200px) {
        left: 50px;
      }

      @media screen and (max-width: 767px) {
        left: inherit;
      }

    }
  }

  &__lang-select-list {

    display: none;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #df6951;
    overflow: hidden;
    left: 25px;
    z-index: 4;

    @media screen and (max-width: 767px) {
      left: inherit;
      width: 50px;
      right: 0;
    }

  }

  &__lang-select-list-item {

    @include flex(center, center);
    width: 50px;
    height: 25px;
    border-bottom: 1px dotted #df6951;
    background-color: #e2bab242;

    &:last-of-type {
      border-bottom: none;
    }

    &:hover {
      background-color: #fdab9bb0;
    }

  }

}

.burger-menu {

  @include flex(flex-start, flex-end, column);
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  display: none;

  @media screen and (max-width: 767px) {
    display: flex;
  }

  &__linebar {

    display: block;
    width: 22px;
    height: 3px;
    background-color: #737373;
    margin-bottom: 5px;
    transition: transform 0.3s, opacity 0.3s;
    text-align: right;
  
    &:nth-of-type(2) {
      width: 17px;
    }
  
    &:nth-of-type(3) {
      width: 10px;
    }
  
  }

  &__wrapper {

    &[type="checkbox"] {

      &:checked {

        & ~ .burger-menu__linebar:nth-of-type(1) {
          transform: rotate(45deg) translate(0%, 10px);
        }

        & ~ .burger-menu__linebar:nth-of-type(2) {
          opacity: 0;
        }

        & ~ .burger-menu__linebar:nth-of-type(3) {
          transform: rotate(-45deg) translate(0%, -6px);
          width: 22px;
        }

      }
    }
  }

  &__list {
    @include flex(flex-start, center, column);
    @include font("Poppins", 1.875rem, 400, 1.5);
    position: absolute;
    width: 100vw;
    margin-left: -10px;
    background-color: #FFF1DA;
    top: -200px;
    text-align: center;
    transition: .3s;
    color: #737373;
  }

  &__list-link {
    @include flex(center, center);
    width: 100%;
    height: 50px;

    &:active {
      background-color: #fcf7f0;
    }

  }
  
}

input[type="checkbox"] {
  display: none;
}