.subscribe-section {

  padding-bottom: 170px;
  background-image: url("../../assets/images/backgrounds/xmarks-background-toup.png");
  background-repeat: no-repeat;
  background-position: right 77%;
  position: relative;
  @include flex(center, flex-start);

  @media screen and (max-width: 425px) {
    background-image: none;
  }

  &__subsribe-btn {
    @include button(155px, 56px, inherit, #fff, 10px, inherit);
    @include font("Open Sans", 1.06, 600, 1.35);
    @include flex(center, center);
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    font-size: 17px;
    display: none;

    @media screen and (max-width: 425px) {
      display: flex;
    }

  }
}

.subscribe-form {

  width: 90%;
  background-color: rgba(223, 215, 249, 0.2);
  border-radius: 129px 20px 20px 20px;
  max-height: 407px;
  padding: 80px 0;
  position: relative;
  z-index: 1;
  @include flex(flex-start, center, column);

  @media screen and (max-width: 425px) {
    display: none;
  }

  &::before, &::after {
    content: "";
    position: absolute;
    opacity: .1;
    background-image: url("../../assets/images/backgrounds/circles-decor.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;

    @media screen and (max-width: 920px) {
      content: none;
    }

  }

  &::before {
    width: 25%;
    height: 78%;
    left: 100px;
    bottom: 0;
    background-position: left bottom;
  }

  &::after {
    width: 20%;
    height: 58%;
    right: -45px;
    top: 40px;
    background-position: right top;
    rotate: 267deg;
  }

  &__title {
    width: 70%;
    margin-bottom: 75px;
    @include font("Poppins", 2.0625rem, 600, 1.63);
    text-align: center;
    color: $subtitle-color;
  }

  &__form {
    @include flex(center, center);
    width: 50%;
    height: 68px;
    gap: 38px;
  }

  &__field {
    height: 100%;
    max-width: 420px;
    flex: 1 1 60%;
    border: none;
    padding-left: 25px;
    background: #FFFFFF;
    border-radius: 10px;

    &:focus {
      outline: none;
      box-shadow: 0 0 10px 0 rgba(223, 215, 249, 0.8);
    }

    &::placeholder {
      @include font("Montserrat", 0.875, 400, 1.21);
    }

  }

  &__submit-btn {
    @include button(180px, 100%, inherit, #fff, 10px, inherit);
    @include font("Open Sans", 1.06, 600, 1.35);
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    max-width: 180px;
    flex: 1 1 20%;
  }

  &__send-icon-wrapper {
    width: 70px;
    height: 70px;
    background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
    border-radius: 50%;
    @include flex(center, center);
    position: absolute;
    top: -20px;
    right: -20px;

    &:before {
      content: "";
      background-color: red;
      width: 13px;
      height: 2px;
      position: absolute;
      background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
      transform: rotate(-30deg);
      left: 23px;
      bottom: 31px;
      border-radius: 10px;
    }

    &--phone {
      width: 61px;
      height: 56px;
      top: inherit;
      bottom: 170px;
      margin-right: 25px;
      display: none;

      @media screen and (max-width: 425px) {
        display: flex;
      }

      &:before  {
        left: 19px;
        bottom: 25px;
      }
    }

  }



  &__send-icon {
    width: 40px;
    height: 40px;
  }
}
