@import "./_reset";
@import "./_font-rules";
@import "./_variables";
@import "./_mixins";
@import "./_extends";
@import "./_common";
@import "./_header";
@import "./_hero-block";
@import "./_services";
@import "./_sells";
@import "./_steps";
@import "./_testimonials";
@import "./_clients";
@import "./_subscribe";
@import "./_footer.scss";

.unit-container {
  background-image: url(../../assets/images/backgrounds/hero-block-decore.svg);
  background-repeat: no-repeat;
  background-position: right top;

  @media screen and (max-width: 767px) {
   background-image: none;
  }

  &__plane {
    position: absolute;

    @media screen and (max-width: 767px) {
      width: 100px;
      height: 100px;
    }

    &:nth-of-type(1) {
      position: absolute;
      top: 20%;
      left: 45%;
      z-index: 2;

      @media screen and (max-width: 425px) {
        left: 30px;
        top: 20px;
      }

      &:hover {
        animation: flyingOver 3s forwards;
      }
      
    }

    &:nth-of-type(2) {
      position: absolute;
      top: 24%;
      right: 100px;
      z-index: 2;

      &:hover {

        animation: flyAway 3s forwards;

        @media screen and (max-width: 767px) {
          animation: none;
        }

      }

      @media screen and (max-width: 1200px) {
        display: none;
      }

    }

  }
}

@keyframes flyingOver {
  0% {
    transform: rotate(0deg);
  }
  98% {
    transform: translate(40vw, -350px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes flyAway {
  0% {
    transform: rotate(45deg);
  }
  98% {
    transform: translate(15vw, 100px) rotate(25deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}